/* import responsive styles */
@import "./esportsy-mobile.css" screen and (max-width: 420px);
@import "./esportsy-tablet.css" screen and (max-width: 768px);

.espy-calendar {

}

/*
 * Logo blue: #2AACDE
 */

.calendar-series {
  color: #000;
  font-weight: normal;
  border: solid 1px #F7F7F7;
  background: #2AACDE7F;
  cursor: pointer;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 80px 500px auto;
  grid-column-gap: 25px;
}
.calendar-series:hover {
  background: #2AACDE;
}
.calendar-series-col {
  margin: 0;
  overflow: none;
}
.calendar-series img {
  display: block;
  max-width: 80px;
  margin: 0;
}
.calendar-series .col-1 {
  margin: 0 12px 0 0;
  padding: 0;
}
.calendar-series .col-2 h5 {
  font-size: 14px;
  font-weight: normal;
  margin: 20px 0 6px 0;
}
.calendar-series .col-2 h1 {
  font-size: 20px;
  margin: 0;
}
.calendar-series .col-3 {
  padding: 35px 40px 0 0;
  font-size: 14px;
  text-align: right;
}

.espy-calendar header {
  background: #000;
  padding: 30px 30px 30px 30px;
  margin: 12px 0 0 0;
  border-top: solid 12px #40B4E1;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 320px auto;
  color: #FFF;
}

@media only screen and (max-width: 600px) {

  .espy-calendar header {
    grid-template-columns: 100%;
  }

  .espy-calendar .header-left {
    padding: 15px 0 15px 0;
    text-align: center;
  }

  .espy-calendar .header-right {
    padding: 15px 0 15px 0;
    margin: 25px 0 0 0;
    text-align: center !important;
  }
  .espy-calendar .header-right img {
    margin-bottom: 6px;
  }

}

.espy-calendar .header-left {
  padding: 15px 0 0 0;
  box-sizing: border-box;
}
.espy-calendar .header-right {
  text-align: right;
}

ul.top-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.top-menu li {
  display: inline-block;
  margin: 0 20px 0 0;
  text-transform: uppercase;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
}
ul.top-menu li.selected {
  padding-bottom: 4px;
  border-bottom: solid 4px #2AACDE;
}

.filter-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-menu li {
  display: inline-block;
  margin: 0 20px 0 0;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}
.filter-menu li:last-child {
  margin-right: 0;
}

.filter-menu li img {
  width: 50px;
  opacity: 0.5;
}
.filter-menu li.selected img {
  opacity: 1.0;
}


section {
  padding: 30px;
}



/*
 * Series single
 */
 .series-single {

 }
.series-single header.main {
   background: #000;
   color: #FFF;
   padding: 0 0 0 0;
   margin: 0;
   display: grid;
   grid-template-columns: 100px minmax(200px, 3fr) minmax(200px, 2fr);
   grid-column-gap: 25px;
 }
 .series-single header.main .col-second {
   position: relative;
 }
.series-single header.main h1.tournament-title {
  font-size: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
}
.series-single header.main .game-logo {
  width: 100px;
  display: block;
}
.series-single header.main .col-third {
  text-align: right;
  padding: 40px 25px 0 30px;
}

/* series matchup section */
.series-matchup {
  background: #29ABDD;
  padding: 25px 0;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-column-gap: 25px;
}
.series-matchup > div:first-child {
  margin-left: 200px;
}
.series-matchup > div:last-child {
  margin-right: 200px;
}
.series-matchup .matchup-score {
  font-size: 50px;
  color: #FFF;
  text-align: center;
  padding: 40px 0 20px 0;
}
.series-matchup .matchup-team {
  text-align: center;
}
.series-matchup .matchup-team h3 {
  font-size: 18px;
  color: #FFF;
  margin: 10px 0 6px;
}
.series-matchup .matchup-team img {
  width: 80px;
}

.series-streams {

}
.series-streams ul {
  list-style: none;
  margin: 20px 0 30px 0;
  padding: 0;
}
li.series-caster {
  width: 25%;
  display: inline-block;
  list-style: none;
  text-align: center;
  margin: 0 0 20px 0;
  cursor: pointer;
}
li.series-caster:hover {
  color: #323232;
}
.series-caster h2 {
  font-size: 22px;
  color: #212121;
  margin: 0;
}
.series-tournament-info .series-section-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 25px;
}
.series-tournament-info .col-first {
  padding: 60px 50px;
}
.series-tournament-info .col-first img {
  max-width: 100%;
  display: block;
}
.series-tournament-info .col-second {
  padding: 60px 50px 60px 0;
}
.series-tournament-info .col-second h1 {
  font-size: 32px;
}
.series-tournament-info .col-second h3 {
  font-size: 24px;
  margin: 20px 0 20px;
}

/*
 * Calendar home widget
 */
.espy-calendar-home section {
  padding: 0;
}
.espy-calendar-home header {
  display: block;
  padding: 15px 20px 20px 20px;
}
.espy-calendar-home .header-left,
.espy-calendar-home .header-right {
  width: 100%;
  text-align: center;
}
.espy-calendar-home .filter-menu {
  text-align: center;
}
.espy-calendar-home .filter-menu li {
  margin-right: 12px;
}
.espy-calendar-home .filter-menu li img {
  width: 42px;
}
.espy-calendar-home .header-right {
  margin-top: 22px;
}
.espy-calendar-home ul.top-menu li {
  font-size: 15px;
}
.espy-calendar-home .calendar-series {
  color: #000;
  font-weight: normal;
  border: solid 1px #F7F7F7;
  background: #2AACDE7F;
  cursor: pointer;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 60px auto;
  grid-column-gap: 20px;
}
.espy-calendar-home .calendar-series img {
  max-width: 60px;
}
.espy-calendar-home .calendar-series-col.col-2 {
  padding-top: 14px;
}
.espy-calendar-home .calendar-series-col.col-2 h5 {
  font-size: 10px;
  margin: 0 0 2px 0;
}
.espy-calendar-home .calendar-series-col.col-2 h1 {
  font-size: 13px;
  margin: 0;
}
.espy-calendar-home .calendar-series-col.col-2 .start-time {
  font-weight: 400;
  color: #777;
}
.espy-calendar-home .calendar-series-col.col-2 .live-flag {
  color: #27AE60;
  font-size: 11px;
  background: #FFFFFF5B;
}

/* Series Sections */
.series-section {
  background: #F5F5F5;
  padding: 0 0 30px 0;
}
.series-section header {
  text-align: center;
  background: #282828;
  margin-bottom: 20px;
  padding: 18px 15px;
}
.series-section header h2 {
  font-size: 34px;
  color: #C8C8C8;
  margin: 20px 0 0 0;
}

/* Series Odds */
.series-odds-list,
.series-odds-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.series-odds-list li {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-column-gap: 20px;
  min-width: 720px;
  padding: 15px 0;
  cursor: pointer;
}
.series-odds-list li:hover {
  background: #74bfdb;
}
.series-odds-list li div:first-child {
  text-align: right;
}
.series-odds-list li div {
  font-size: 30px;
}
.series-odds-list li div.sportbook-site {
  text-transform: uppercase;
  padding-top: 6px;
  text-align: center;
  font-size: 22px;
  color: #686868;
}

.stream-wrap h3 {
  padding: 60px 50px;
}
