.espy-calendar {

}

/*
 * Logo blue: #2AACDE
 */

.calendar-series {
  font-family: "Lato", sans-serif;
  color: #1B0E21;
  font-weight: normal;
  border: solid 1px #F7F7F7;
  background: #FAFAFC;
  cursor: pointer;
  display: flex;
}
.calendar-series:hover {
  background: #D7D7D7;
}
.calendar-series-col {
  margin: 0 15px;
  overflow: none;
}
.calendar-series img {
  max-width: 60px;
  margin: 8px 0;
}
.calendar-series .col-1 {

}
.calendar-series .col-2 h5 {
  font-weight: normal;
  margin: 20px 0 6px 0;
  color: #C2C2C2;
}
.calendar-series .col-2 h1 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}
.calendar-series .col-3 {
  padding-top: 35px;
  font-size: 12px;
  color: #C9C9C9;
}

.espy-calendar header {
  background: #FFFFFF;
  padding: 120px 40px 12px 40px;
  height: 50px;
}
.espy-calendar .header-left {
  width: 25%;
  min-width: 120px;
  float: left;
  padding: 25px 0 0 15px;
  box-sizing: border-box;
}
.espy-calendar .header-right {
  width: 75%;
  min-width: 200px;
  float: left;
  text-align: right;
}

ul.top-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.top-menu li {
  font-family: "Lato", sans-serif;
  display: inline-block;
  margin: 0 40px 0 0;
  text-transform: uppercase;
  font-size: 16px;
  color: #363636;
  cursor: pointer;
}
ul.top-menu li.selected {
  padding-bottom: 4px;
  border-bottom: solid 4px #2AACDE;
}

.filter-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-menu li {
  display: inline-block;
  margin: 0 20px 0 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: verdana, sans-serif;
  cursor: pointer;
}

.filter-menu li img {
  width: 50px;
  opacity: 0.5;
}
.filter-menu li.selected img {
  opacity: 1.0;
}


section {
  background: #F0F1F5;
  padding: 40px;
}
